/* Universal Selector Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector Styling */

body {
    background-color: #d9dcd6;
}
/* Header Styling */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

/* End Header Styling */

/* Class Selector Styling

Text Styling */ 
.text-main {
    font-size: 16px;
}

.row-left {
    float: left;
    margin-right: 25px;
}

.row-right {
    float: right;
    margin-left: 25px;
}

/* End Text Styling */

/* Hero Styling */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* End Hero Styling */

/* Rows Section Styling */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.rows {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.rows img {
    max-height: 200px;
}

.rows h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* End Rows Section Styling */

/* Column Section Styling */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


.column {
    margin-bottom: 32px;
    color: #ffffff;
}

.column h3 {
    margin-bottom: 10px;
    text-align: center;
}

.column img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* End Column Section Styling */

/* Footer Section Styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* End Footer Section Styling */